<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="route" class="co.com.psl.googlevehicletracking.classes.Route"></bean>
	<bean id="IVehicle" class="co.com.psl.googlevehicletracking.classes.Vehicle" scope="prototype">
		<constructor-arg ref="route"></constructor-arg>
	</bean>
	<bean id="IReadWriteFile" class="co.com.psl.googlevehicletracking.classes.ReadWriteFile"></bean>	
		
	<bean id="IVehicleDispatcher" class="co.com.psl.googlevehicletracking.classes.VehicleDispatcher"
		scope="prototype" factory-method="getVehicleDispatcher">
	</bean>	
</beans>